body {
    font-family:'Roboto', sans-serif;
    background-color: var(--backcolor-white);
    color: var(--color-title);
}

:root {
    --color-title: #212121;
    --color-text: #757575;
    --backcolor-grey: #2F303A;
    --color-accent: #2196F3;
    --text-white: #FFFFFF;
    --logo-header:#000000;
    --back-color: #F5F4FA;
    --backcolor-white: #FFFFFF;
    --color-clarity: rgba(255, 255, 255, 0.6);
}

/* --------------Header-------------- */
.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--logo-header);
letter-spacing: 0.03em;
text-decoration: none;
}

span {
    color: var(--color-accent);    
}

.header-nav .header-item.accent {
    color: var(--color-accent);
}

.list, .link {
    list-style: none;
    text-decoration: none;
}

.header-item {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-title);
}

.clarity:hover,
.clarity:focus {
    color: var(--color-accent);
}

.header-item:hover,
.header-item:focus {
    color: var(--color-accent);
}
.header-item-list:hover,
.header-item-list:focus {
    color: var(--color-accent);
}

.header-item-list {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--color-text);
}
 /* -----------------Hero-------------- */

.hero {
    background-color: var(--backcolor-grey);
}
.hero-title { 
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
    color: var(--text-white);
}

.btn {
font-family: 'Roboto';
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--text-white);
background-color: var(--color-accent);
cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--backcolor-grey)
}

/* ---------------Feature---------------- */
.feature-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.feature-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-text);
}

/* -------------Projects--------------- */

.projects-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}


/* -------------Team--------------- */

.team {
    background-color: var(--back-color);
}

.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
}
.team-member {
    font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-title);
}
 .team-link {
    background-color: #FFFFFF;
 }
 
 .team-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-text);
 }

 /* -------------Footer--------------- */

 .footer {
    background-color: var(--backcolor-grey);
 }
 .footer-logo, 
 .footer-link {
    text-decoration: none;
 }

 .footer-logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--text-white) ;
}
.footer-link {
    color: var(--text-white);
}
.clarity {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-clarity)
}

.map {
    font-style: normal;
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.map:hover,
.map:focus {
    color: var(--color-accent);
}


/* --------------Alinement---------------- */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.portfolio-btn {
font-family: 'Roboto';
    font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
background-color: var(--back-color)
}

.btn-item {
    list-style: none;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--color-accent);
    color: var(--text-white);
}
.portfolio-list {
    list-style: none;
}
.portfolio-link {
    text-decoration: none;
}
.portfolio-title { 
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: var(--color-title);
}
.portfolio-text {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--color-text);
}
